div#information {
  border: 5px solid black;
  margin: 10px;
  height: 200px;
  width: 200px;
}
div#carte {
  border: 5px solid black;
  height: 400px;
  width: 400px;
  margin: 10px;
  position: absolute;
  top: 40px;
  left: 400px;
}
